/*
!chapters-5-6-concrete-syntax-example-and-intermediate-models/

!/chapter-8-greenfield-validation-package/
/chapter-8-greenfield-validation-package/**/*-diss.sh
chapter-8-greenfield-validation-package/intermediate/

!chapter-9-brownfield-validation-package/
/chapter-9-brownfield-validation-package/Reconstruction LEMMA Models/Notes.odt
/chapter-9-brownfield-validation-package/**/*-diss.sh
/chapter-9-brownfield-validation-package/Metrics/
/chapter-9-brownfield-validation-package/Notes.odt
chapter-9-brownfield-validation-package/intermediate/

!.gitignore

.metadata/
bin/
.launch/
Trash/
target/
.gradle/
*.java._trace
*.xtendbin
*.xtextbin
out/
build/
.idea/
.~lock*
*.iml
*.hprof
